<div class="reminders-section h-96 h-max-full">
  <h3>Reminders</h3>
  <% @reminders_within_week.each do |reminder| %>
    <p><%= reminder.title %> - <%= reminder.date %></p>
  <% end %>

  <h3>Reminders within 30 days</h3>
  <% @reminders_within_30_days.each do |reminder| %>
    <p><%= reminder.title %> - <%= reminder.date %></p>
  <% end %>
</div>